Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Talemo <support@t-bos.app>
Homepage: https://t-bos.app/
Installed-Size: @@INSTALLEDSIZE@@
Provides: visual-studio-@@NAME@@
Conflicts: visual-studio-@@NAME@@
Replaces: visual-studio-@@NAME@@
Description: Your AI-powered workspace.
 Talemo is a developer-first workspace that combines the power of an AI-native
 editor with seamless project management and collaboration tools.
 See https://t-bos.app/docs/setup/linux for installation
 instructions and FAQ.
